html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style:none;
}

input:focus, button:focus {
	outline: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
